

body {
    background-color: rgb(208, 220, 201);
  font-family: "arial";
}
head {
  font-family: "arial";
  font-size: 15px;
}

h1 {
    text-align: center;
  }


select:hover {
  background-color: rgb(245, 245, 245);
}

option:hover {
  background-color: rgb(244, 244, 244);
}

input:hover {
  background-color: rgb(255, 255, 255);
}

textarea:hover {
  background-color: rgb(123, 123, 123);
}